{{ define "main" }}
    {{- $paginator := partial "helper/paginator.html" . -}}

    <section class="article-list">
        {{ if $paginator }}
            {{ range $index, $element := $paginator.Pages }}
                {{ partial "article-list/default" . }}
            {{ end }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
